.search-box {
  display: inline-block;
  padding: 5px;
}
.search-box input {
  padding: 2px 5px;
  border: none;
}
.search-box button {
  padding: 5px 10px;
  border: none;

  border-radius: 5px;
  margin-left: 5px;
}

.search-box button:hover {
  cursor: pointer;
}

/* Themes go here: */
.search-box.theme-variant-purple span {
  color: #9c27b0;
}
.search-box.theme-variant-purple input {
  color: #ba68c8;
  background-color: #e1bee7;
}
.search-box.theme-variant-purple button {
  color: white;
  background-color: #9c27b0;
}
.search-box.theme-variant-purple button:hover {
  background-color: #ab47bc;
}
