.TestRunnerHeader {
  margin-bottom: 5px;
}
.TestRunnerHeader strong {
  padding: 5px;
  color: #9c27b0;
}

.TestRunnerHeader .version {
  color: #9e9e9e;
}

.TestRunnerHeader button {
  padding: 5px 20px;
  background-color: #9c27b0;
  color: white;
  border: none;
  border-radius: 5px;
  float: right;
}
.TestRunnerHeader button:hover {
  cursor: pointer;
  background-color: #ab47bc;
}

.TestRunnerDesc {
  font-size: 16px;
  padding: 5px;
  color: #ba68c8;
}

.TestRunner span {
  padding: 5px;
}

.TestRunner input {
  padding: 2px;
  width: 50px;
  text-align: right;
  border: none;
  border-bottom: 1px solid #9c27b0;
  color: #9c27b0;
}
